<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="Cadastro.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.2/pixi.min.js"></script>
<body>

    <header>
        <h2 style="#1E3A8A">NativeCod3r</h2>
    </header>


     <div id="pixi-container">
            <!-- O canvas será adicionado aqui pelo PIXI.js -->
        </div>


        
    <div id="CaixaCadastro">
        <h1>Se registre na nossa plataforma de forma simples!</h1>

        <div class="login">
            <label for="registerPassword">Email:</label>
            <input id="registeremail" type="email" placeholder="Digite seu email" >
        </div>
        <div class="login">
            <label for="registerUser">Usuário:</label>
            <input id="registerUser" type="text" placeholder="Digite um usuário" >
        </div>
        <div class="login">
            <label for="registerPassword">Senha:</label>
            <input id="registerPassword" type="password" placeholder="Digite uma senha" >
        </div>

      
        
        <button id="registerButton">Cadastrar</button>
        <p id="message" style="color: green; font-weight: bold; margin-top: 10px;"></p>

       
    </div>

    <!-- Inclusão do script JavaScript -->
    <script defer src="JS/Cadastro.js"></script>
</body>
</html>
