
@media (max-width: 2010px) {
    header {
        background-position: 2200px -50px;
    }
}

/* Ajustes para telas acima de 2000px */
@media (min-width: 2000px) {
    header {
        background-size: 15%;
        background-position: 1700px -50px;
    }
}