<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link rel="stylesheet" href="Inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="Imagens/1068549.png" type="image/x-icon">



</head>
<body>
    <header>
        <h1 style="#1E3A8A">NativeCod3r</h1>
</header>



<div id="container">

   

    <div class="arrow-down">
    <i class="fa fa-arrow-down"></i>
</div>

    
    
    <div  class="Mundos" onclick="window.location.href='Mundo1.html'">
        <h2>Mundo 1</h2>
      
        
        
      
    </div>


    <div  id="Mundo">

       

       
        
        
      
    </div>

    <div class="Mundos">

        <h3>Mundo 2</h3>
        <div class="lock-icon">
            <i class="fa fa-lock"></i>
        </div>

        

    </div>


    <div class="Mundos">

        <h4>Mundo 3</h4>
        <div class="lock-icon">
            <i class="fa fa-lock"></i>
        </div>

    </div>

    
</div>

<div id="container2">
    <div  id="linha1">
    
    
    </div>
    
    <div id="linha2">
    
 
    
    </div>
    
    
    <div class="Linhas">
    
       
    
    </div>
</div>
<div class="message-cloud">
  <h7> Comece aqui ! </h7>
</div>
    
</body>
</html>