<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link rel="stylesheet" href="Inicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="Imagens/1068549.png" type="image/x-icon">



</head>
<body>
    <header>
        <h1>NativeCod3r</h1>
        <p>A plataforma para aprender programação e inglês de forma prática e eficaz!</p>
     
   

  

       <div class="menu-container">
        <div class="menu-toggle" id="menuToggle">                 
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <nav class="nav" id="navMenu">
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#serviços">Serviços</a></li>
                <button id="sair" onclick="window.location.href='login.html'">Sair</button>
            </ul>
        </nav>
    </div>
    <div id="sabe">
        <button id="saibamais">Saiba mais</button>
       </div>
       
        
    </header>
    



<div id="container">

   

    <div class="arrow-down">
    <i class="fa fa-arrow-down"></i>
</div>

    
    
    <div  class="Mundos"  data-mundo="1" onclick="iniciarRegistro(this)">
        <h2  style="font-size: 40px; margin-left: 30px; margin-top: 10px;">Mundo 1</h2>
      
        
        
      
    </div>



    <div class="Mundi"  data-mundo="2" onclick="iniciarRegistro(this)">

        <h3  style="font-size: 40px; margin-left: 30px; margin-top: 10px;">Mundo 2</h3>
        <div class="lock-icon">
            <i class="fa fa-lock"></i>
        </div>

        

    </div>


    <div class="Mundo"  data-mundo="3" onclick="iniciarRegistro(this)">

        <h4 style="font-size: 40px; margin-left: 30px; margin-top: 10px;">Mundo 3</h4>
        <div class="lock-icon">
            <i class="fa fa-lock"></i>
        </div>

    </div>

    
</div>


<div class="message-cloud">
  <h7> Comece aqui ! </h7>
</div>

<footer>
    <p>&copy; 2024 NativeCod3r. Todos os direitos reservados.</p>
</footer>

<script src="JS/Cursos.js"></script>
</body>
</html>