<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="Mundo1.css">
</head>
<body>

    <header>
        <h1 style="#1E3A8A">NativeCod3r</h1>
        
</header>
<h2>Bem-Vindo ao Mundo 1 </h2>

    <ol class="Aulas">


        <li> Aula - 01 </li>
        <li> Aula - 02  </li>
        <li> Aula - 03  </li>
        <li> Aula - 04  </li>
        <li> Aula - 05  </li>
        <li> Aula - 06  </li>
        <li> Aula - 07  </li>
        <li> Aula - 08  </li>
        <li> Aula - 09  </li>
        <li> Aula - 10  </li>
        <li> Aula - 12  </li>
        <li> Aula - 13  </li>
        <li> Aula - 14  </li>
        <li> Aula - 15  </li>

        
        
    </ol>
   <div id="painel">

     <h1>Desafio 1: O Tesouro do print</h1>

    <div class="challenge">
        <h2></h2>
        <p>Descrição: Você encontrou um mapa antigo que menciona o comando print. Para descobrir a mensagem secreta, você precisa:</p>
        <p> 1. Traduzir o termo "print" para o português.></p>
          <p>2.  Escrever um código Python que use o comando print para exibir a mensagem secreta: "Parabéns! Você encontrou o tesouro!".</p> 
        <textarea id="print-translation" placeholder="Digite sua tradução aqui..."></textarea>

        <textarea id="print-code" placeholder="Digite seu código Python aqui..."></textarea>
       
        <h1> Desafio 2: O Enigma do input</h1>
        <p>Descrição: Você está em uma sala cheia de enigmas e precisa interagir com um console mágico. Para revelar o próximo enigma, você deve:</p>
        <p>Traduzir o termo "input" para o português.</p>
        <p>Escrever um código Python que pergunte ao usuário seu nome e depois exiba a mensagem: "Bem-vindo, [nome]!" onde [nome] é o nome inserido pelo usuário.</p>
        <textarea id="print-translation" placeholder="Digite sua tradução aqui..."></textarea>
        <textarea id="print-code" placeholder="Digite seu código Python aqui..."></textarea>

        
       
        <p id="print-feedback"></p>

    <div id="robo">

        <div class="nuvem">
            <span class="prev">&#10094;</span>
            <p class="message">Bem Vindo !! ao seu primeiro mundo de python e ingles </p>
           
          
            <span class="next">&#10095;</span>
            
        </div>

        <button id="buttton" onclick="checkPrintChallenge()">Verificar Resolução</button>

    </div>

   </div>


   <script src="JS/Mundo1.js"></script>

</body>
</html>